* {
    box-sizing: border-box;
}

html { 
    background: url(https://i.imgur.com/D0ctyb3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 0px;
    margin-top: 0;
    font-size: 1.5em;
}

main, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    max-width: 1080px;
}

main {
    padding: 0 10px 0 10px;
}

h2 {
    text-align: center;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.start, .submit, .next {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    color: rgb(13, 59, 31);
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.start:hover, .submit:hover, .next:hover {
    border: 4px solid rgb(69, 33, 199);
}

.start {
    margin-top: 100px;
}

.stats-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top : 3px solid rgb(69, 33, 199);
    border-bottom : 3px solid rgb(69, 33, 199);
    padding: 0;
}

.stats {
    font-size: 1em;
    margin: 0;
    padding: 2px;
}

.heading2, .question {
    font-size: 1em;
    margin: 5px;
    padding:0px;
}

.answer {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 5px;
    width: 100%;
    background-image: linear-gradient(#115D0E, rgb(13, 59, 31));
    font-size: .8em;
    opacity: .9;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    height: 75px;
}

label {
    padding-right: 10px;
    cursor: pointer;
}

input:focus{
    border: 2px solid black;
}

input {
    cursor: pointer;
}

.selectedChoice {
    box-shadow: 10px 10px 5px white;
    border: 5px solid rgb(69, 33, 199);
}

.wrong {
    background-image: linear-gradient(#B11310, rgb(116, 10, 24));
}

.correct {
    box-shadow: 0px 0px 100px inset rgb(23, 233, 68);
}

@media screen and (min-width: 768px) {
    h1, .stats, .heading2, .question{
        font-size: 2em;
        margin: 10px 0 10px 0;
    }
    
    .answer {
        height: 50px;
        font-size: 1em;
    }
}